.container {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  /* Arrange components horizontally by default */
}

/* Media query for smaller screens */
@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    /* Change direction to vertical for smaller screens */
  }
}
